
.season, .raceName, .driver, .constructor, .position, .points{
  text-align: center;
}
.season{
  width: 60px;
}
.raceName{
  width: 200px;
}
.driver{
  width: 200px
}
.constructor{
  width: 200px;
}
.position, .points{
  width: 100px
}
.paginator-hidden{

  visibility: hidden;
}
.paginator
{
  width: 908px;
  visibility: visible;
}
